<div id="<%= dom_id event %>">
  <p>
    <strong>Title:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Bar:</strong>
    <%= event.bar %>
  </p>

  <p>
    <strong>Teaser:</strong>
    <%= event.teaser %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= event.day %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= event.date %>
  </p>

  <p>
    <strong>Secondtype:</strong>
    <%= event.secondtype %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= event.start_time %>
  </p>

</div>
